<section id="content" class="content">

    <h2>Make A Booking</h2>

    <h3 *ngIf="message">{{message}}</h3>

    <div *ngIf="generateSuccess == true">
        <table id="AttractionTable" style="width:100%; cellpadding: 3px; cellspacing: 1px; text-align: center;">
            <thead>
                <th>Attraction ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Ticket Price</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let attraction of attractions">
                    <td>{{attraction.attractionId}}</td>
                    <td>{{attraction.name}}</td>
                    <td>{{attraction.description}}</td>
                    <td>{{attraction.location}}</td>
                    <td>${{attraction.unitPrice}}</td>
                    <td><a routerLink="/viewAttraction/{{attraction.attractionId}}">View More</a></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table id="BookingTable" style= "cellpadding: 3px; cellspacing: 1px; text-align: center;">

            <tr>
                <td style="font-weight: bold;">Total Price Tickets</td>
                <td>${{totalPrice}}</td>
            </tr>

            <tr>
                <td style="font-weight: bold;">Booking Fee</td>
                <td>${{bookingFee}}</td>
            </tr>
            
            <tr>
                <td style="font-weight: bold;">Total Amount</td>
                <td>${{totalPrice+bookingFee}}</td>
            </tr>

            <tr>
                <td for="description">Additional Requests</td>
			    <td><input id="description" name="description" [(ngModel)]="description" required="true" maxlength="2048"/><td>
            </tr>
        </table>
        
        <br/>

        <button mat-button style="font-weight: bold;" label="Make Booking" (click)="create()">Make Booking</button> 
    </div>

    <br/>

    <form #generateBookingForm="ngForm" (ngSubmit)="generate(generateBookingForm)">

        <table>

            <tr>
                <td style="font-weight: bold;">Booking Date</td>
                <td><input id="bookingDate" name="bookingDate" #bookingDateTxt="ngModel" type="date" [(ngModel)]="bookingDate" required="true" /></td>
                <td>
                    <div *ngIf="bookingDateTxt.invalid && (bookingDateTxt.dirty || bookingDateTxt.touched || generateSubmitted)" style="color: red;">
                        <div *ngIf ="bookingDateTxt.errors.required">
                            Booking Date is required.
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold;">Start Time</td>
                <td><input id="startTime" name="startTime" #startTimeTxt="ngModel" type="time" [(ngModel)]="startTime" required="true" /></td>
                <td>
                    <div *ngIf="startTimeTxt.invalid && (startTimeTxt.dirty || startTimeTxt.touched || generateSubmitted)" style="color: red;">
                        <div *ngIf ="startTimeTxt.errors.required">
                            Start Time is required.
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold;">End Time</td>
                <td><input id="endTime" name="endTime" #endTimeTxt="ngModel" type="time" [(ngModel)]="endTime" required="true" /></td>
                <td>
                    <div *ngIf="endTimeTxt.invalid && (endTimeTxt.dirty || endTimeTxt.touched || generateSubmitted)" style="color: red;">
                        <div *ngIf ="endTimeTxt.errors.required">
                            End Time is required.
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold;">Number of People</td>
                <td><input id="numPax" name="numPax" #numPaxTxt="ngModel" type="text" [(ngModel)]="numPax" required="true" /></td>
                <td>
                    <div *ngIf="numPaxTxt.invalid && (numPaxTxt.dirty || numPaxTxt.touched || generateSubmitted)" style="color: red;">
                        <div *ngIf ="numPaxTxt.errors.required">
                            Number of People is required.
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold;">Price Limit Per Person</td>
                <td><input id="priceLimit" name="priceLimit" #priceLimitTxt="ngModel" type="text" [(ngModel)]="priceLimit" required="true" /></td>
                <td>
                    <div *ngIf="priceLimitTxt.invalid && (priceLimitTxt.dirty || priceLimitTxt.touched || generateSubmitted)" style="color: red;">
                        <div *ngIf ="priceLimitTxt.errors.required">
                            Price Limit is required.
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold;">Tags</td>
                <td>
                    <select id="tag" name="tag" [(ngModel)]="tagIds" multiple="true">
                        <option *ngFor="let tag of tags" value="{{tag.tagId}}">{{tag.name}}</option>
                    </select>
                  
                </td>
                <td>
                  &nbsp;
                </td>
            </tr>

        </table>
        <br/>
        <button mat-button type="submit" style="font-weight: bold;" label="Generate Booking">Generate Booking</button> 

    </form>

</section>