<section id="content" class="content">
  <h2>Search Attractions</h2>

  <br/>

  <div *ngIf="resultError == true">
    {{errorMessage}}
  </div>

  <div *ngIf="resultSuccess == true">
    <table id="AttractionTable" style="width:100%; cellpadding: 3px; cellspacing: 1px; text-align: center;">
      <thead>
          <th>Attraction ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Picture</th>
          <th>Action</th>
      </thead>
      <tbody>
          <tr *ngFor="let attraction of attractions">
              <td>{{attraction.attractionId}}</td>
              <td>{{attraction.name}}</td>
              <td>{{attraction.description}}</td>
              <td>{{attraction.location}}</td>
              <td>{{attraction.picture}}</td>
              <td><a routerLink="/viewAttraction/{{attraction.attractionId}}">View More</a></td>
          </tr>
      </tbody>
  </table>
  </div>

  <br/>

  <form #searchAttractionsForm="ngForm" (ngSubmit)="search(searchAttractionsForm)">

      <table>

          <tr>
              <td for="searchParam">Keyword</td>
              <td><input id="searchParam" name="searchParam" type="text" [(ngModel)]="searchParam"/></td>
              <td>
                &nbsp;
              </td>
          </tr>

          <tr>
              <td for="priceLimit">Price Limit Per Person</td>
              <td><input id="priceLimit" name="priceLimit" type="text" [(ngModel)]="priceLimit" required="true" /></td>
              <td>
                  <div *ngIf="priceLimit.invalid && (priceLimit.dirty || priceLimit.touched || submitted)" style="color: red;">
                      <div *ngIf ="priceLimit.errors.required">
                        Required field
                      </div>
                  </div>
              </td>
          </tr>

          <tr>
              <td for="visitDate">Visit Date</td>
              <td><input id="visitDate" name="visitDate" type="date" [(ngModel)]="visitDate" required="true" /></td>
              <td>
                  <div *ngIf="visitDate.invalid && (visitDate.dirty || visitDate.touched || submitted)" style="color: red;">
                      <div *ngIf ="visitDate.errors.required">
                        Required field
                      </div>
                  </div>
              </td>
          </tr>

          <tr>
              <td for="visitTime">Visit Time</td>
              <td><input id="visitTime" name="visitTime" type="time" [(ngModel)]="visitTime" required="true" /></td>
              <td>
                  <div *ngIf="visitTime.invalid && (visitTime.dirty || visitTime.touched || submitted)" style="color: red;">
                      <div *ngIf ="visitTime.errors.required">
                          Required field
                      </div>
                  </div>
              </td>
          </tr>

          <tr>
            <td>Tags</td>
            <td>
              <select id="tag" name="tag" [(ngModel)]="tagIds" multiple="true">
                <option *ngFor="let tag of tags" value="{{tag.tagId}}">{{tag.name}}</option>
              </select>
              
            </td>
            <td>
              &nbsp;
            </td>
          </tr>

          &nbsp;

      </table>
      <br/>
      <input type="submit" value="Search" />

  </form>

</section>
