/Plandr/PlandrSystem/PlandrSystem-ejb/build/
/Plandr/PlandrSystem/build/
/Plandr/PlandrSystem/PlandrSystem-war/build/
/Plandr/PlandrSystem/PlandrSystem-ejb/dist/
/Plandr/PlandrSystem/dist/
/Plandr/PlandrSystem/PlandrSystem-war/dist/