/Plandr/PlandrSystem/PlandrSystem-ejb/build/
/Plandr/PlandrSystem/build/
/Plandr/PlandrSystem/PlandrSystem-war/build/
/Plandr/PlandrSystem/PlandrSystem-ejb/dist/
/Plandr/PlandrSystem/dist/
/Plandr/PlandrSystem/PlandrSystem-war/dist/
/Plandr/PlandrSystem/nbproject/private/
/Plandr/PlandrSystem/PlandrSystem-ejb/nbproject/private/
/Plandr/PlandrSystem/PlandrSystem-war/nbproject/private/
/Plandr/PlandrSystem/PlandrManagementSystem/nbproject/private/
/Plandr/PlandrSystem/PlandrManagementSystem/build/
/Plandr/PlandrSystem/PlandrManagementSystem/dist/
/Plandr/PlandrSystemRws/nbproject/private/
*.properties
