<section id="content" class="content">
    <h2>Register</h2>

    <form #registerForm="ngForm" (ngSubmit)="create(registerForm)">

        <table>

            <tr>
                <td>Member ID</td>
                <td><input id="memberId" name="memberId" #memberId="ngModel" type="text" [(ngModel)]="newMember.memberId" required="true" /></td>
                <td>
                    <div *ngIf="memberId.invalid && (memberId.dirty || memberId.touched || submitted)" style="color: red;">
                        <div *ngIf ="memberId.errors.required">
                            Member ID is required
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Name</td>
                <td><input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="newMember.name" required="true" /></td>
                <td>
                    <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" style="color: red;">
                        <div *ngIf ="name.errors.required">
                            Name is required
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Email</td>
                <td><input id="email" name="email" #email="ngModel" type="text" [(ngModel)]="newMember.email" required="true" /></td>
                <td>
                    <div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" style="color: red;">
                        <div *ngIf ="email.errors.required">
                            Email is required
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Username</td>
                <td><input id="username" name="username" #username="ngModel" type="text" [(ngModel)]="newMember.username" required="true" /></td>
                <td>
                    <div *ngIf="username.invalid && (username.dirty || username.touched || submitted)" style="color: red;">
                        <div *ngIf ="username.errors.required">
                            Username is required
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Password</td>
                <td><input id="password" name="password" #password="ngModel" type="text" [(ngModel)]="newMember.password" required="true" /></td>
                <td>
                    <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" style="color: red;">
                        <div *ngIf ="password.errors.required">
                            Password is required
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Need to add validation logic -->
            <tr>
                <td>Re-type Password</td>
                <td><input id="retypePassword" name="retypePassword" type="text" required="true" /></td>
                <td>
                    <div style="color: red;">
                        Must match password above
                    </div>
                </td>
            </tr>

            <tr>
                <td>Gender</td>
                <td><input id="gender" name="gender" #gender="ngModel" type="text" [(ngModel)]="newMember.gender" required="true" /></td>
                <td>
                    <div *ngIf="gender.invalid && (gender.dirty || gender.touched || submitted)" style="color: red;">
                        <div *ngIf ="gender.errors.required">
                            Gender is required
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Date of Birth</td>
                <td><input id="dob" name="dob" #dob="ngModel" type="text" [(ngModel)]="newMember.dob" required="true" /></td>
                <td>
                    <div *ngIf="dob.invalid && (dob.dirty || dob.touched || submitted)" style="color: red;">
                        <div *ngIf ="dob.errors.required">
                            Date of Birth is required
                        </div>
                    </div>
                </td>
            </tr>

            &nbsp;

            <tr>
                <td colspan="3">
                    <button (click)="clear()">Clear</button>
                    <input type="submit" value="Register" />
                </td>
            </tr>

        </table>

    </form>
</section>
