<section id="content" class="content">

			<h2>Update Profile</h2>
			
			<div *ngIf="message">
        <h3>{{message}}</h3>
    	</div>

			<form #updateProfileForm="ngForm" (ngSubmit)="update(updateProfileForm)" >

					<table width="100%">

							<tr>
								<td width="10%" style="font-weight: bold;">Member ID</td>
								<td>{{memberToUpdate.memberId}}</td>
								<td>&nbsp;</td>
							</tr>

							<tr>
								<td width="10%" style="font-weight: bold;">Username</td>
								<td>{{memberToUpdate.username}}</td>
								<td>&nbsp;</td>
							</tr>

							<tr>
								<td width="10%" style="font-weight: bold;">Name</td>
								<td><input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="memberToUpdate.name" required="true" /></td>
								<td>
									<div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
										<div *ngIf="name.errors.required">
											Name is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<td width="10%" style="font-weight: bold;">Email</td>
								<td><input id="email" name="email" #email="ngModel" type="text" [(ngModel)]="memberToUpdate.email" required="true" /></td>
								<td>
									<div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="errorText">
										<div *ngIf="email.errors.required">
											Email is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<td width="10%" style="font-weight: bold;">Contact Number</td>
								<td><input id="contactNumber" name="contactNumber" #contactNumber="ngModel" type="text" [(ngModel)]="memberToUpdate.contactNumber" required="true" /></td>
								<td>
									<div *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched || submitted)" class="errorText">
										<div *ngIf="contactNumber.errors.required">
											Contact Number is required.
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td width="10%" style="font-weight: bold;">Gender</td>
								<td>
									<select id="gender" name="gender" #gender="ngModel" type="text" [(ngModel)]="memberToUpdate.gender" required="true">
										<option value="MALE">MALE</option>
										<option value="FEMALE">FEMALE</option>
										<option value="OTHER">OTHER</option>
									</select>
								</td>
								<td>
									<div *ngIf="gender.invalid && (gender.dirty || gender.touched || submitted)" style="color: red;">
										<div *ngIf ="gender.errors.required">
											Gender is required
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td width="10%" style="font-weight: bold;">Date of Birth</td>
								<td><input id="dob" name="dob" #dob="ngModel" type="date" [(ngModel)]="inputDob" required="true" /></td>
								<td>
									<div *ngIf="dob.invalid && (dob.dirty || dob.touched || submitted)" style="color: red;">
										<div *ngIf ="dob.errors.required">
											Date of Birth is required
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td width="10%" style="font-weight: bold;">Credit Card Number</td>
								<td><input id="creditCard" name="creditCard" #creditCard="ngModel" type="text" [(ngModel)]="memberToUpdate.creditCard" required="true" /></td>
								<td>
									<div *ngIf="creditCard.invalid && (creditCard.dirty || creditCard.touched || submitted)" class="errorText">
										<div *ngIf="creditCard.errors.required">
											Credit Card Number is required.
										</div>
									</div>
								</td>
							</tr>

					</table>
					<br/>
					<input type="submit" value="Update" />
			</form>


</section>
