<app-side-menu></app-side-menu>

<section id="content" class="content">
    <h2>Main Menu</h2>

    <ul>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/viewAllArticles">View All Articles</a></li>
        <li><a routerLink="/viewArticle/1">View Article (ID:1)</a></li>
        <li><a routerLink="/viewAllAttractions">View All Attractions</a></li>
        <li><a routerLink="/viewAttraction/1">View Attraction (ID:1)</a></li>
        <li><a routerLink="/makeBooking">Make Booking</a></li>
        <li><a routerLink="/payment">Payment</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
    </ul>
</section>