<h2>Main Menu</h2>

<ul>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/viewAllArticles">View All Articles</a></li>
    <li><a routerLink="/viewArticle">View Article</a></li>
    <li><a routerLink="/viewAllAttractions">View All Attractions</a></li>
    <li><a routerLink="/viewAttraction">View Attraction</a></li>
    <li><a routerLink="/viewAllBookings">View All Bookings</a></li>
    <li><a routerLink="/createNewBooking">Create New Booking</a></li>
    <li><a routerLink="/payment">Payment</a></li>
    <li><a routerLink="/faq">FAQ</a></li>
</ul>