<section id="content" class="content">
    <h2>View Attraction</h2>

    <div>

        <h3>{{attractionToView.name}}</h3>

        <img src={{attractionToView.picture}} alt="Attraction ID: {{attractionToView.articleId}}" height="200">

        <p>Location: {{attractionToView.location}}</p>

        <p>Description: {{attractionToView.description}}</p>
        
        <p>Ticket Price: ${{attractionToView.unitPrice}}</p>

        <h5>Start Date: {{attractionToView.startTimeStamp}}</h5>

        <h5>End Date: {{attractionToView.endTimeStamp}}</h5>

    </div>
</section>
