<section id="content" class="content">
    <h2>View Attraction</h2>

    <div>

        <h3>{{attractionToView.name}}</h3>

        <img src={{attractionToView.picture}} alt="Attraction ID: {{attractionToView.articleId}}" height="200">

        <p>Location: {{attractionToView.location}}</p>

        <p>Description: {{attractionToView.description}}</p>
        
        <p style="font-weight: bold;">Ticket Price: ${{attractionToView.unitPrice}}</p>

        <h5 *ngIf="isPlace == false">Start Date: {{parseDate(attractionToView.startDate) | date:'EEE, MMM dd, yyyy'}}</h5>

        <h5 *ngIf="isPlace == false">End Date: {{parseDate(attractionToView.endDate) | date:'EEE, MMM dd, yyyy'}}</h5>

        <h5 *ngIf="isPlace == true">Opening Time: {{parseDate(attractionToView.openingTime) | date:'HH:mm'}}</h5>

        <h5 *ngIf="isPlace == true">Closing Time: {{parseDate(attractionToView.closingTime) | date:'HH:mm'}}</h5>

        <h4>Reviews</h4>

        <table width = 100% *ngIf="attractionToView.reviewEntities != null">

            <thead>
                <th>Review ID</th>
                <th>Content</th>
                <th>Published Date</th>
            </thead>

            
            <tbody>
                <tr *ngFor="let review of attractionToView.reviewEntities">
                    <td>{{review.reviewId}}</td>
                    <td>{{review.content}}</td>
                    <td>{{parseDate(review.publishedDate) | date:'EEE, MMM dd, yyyy'}}</td>
                </tr>
            </tbody>

        </table>

    </div>
</section>
