<section id="content" class="content">

    <h2>Log In</h2>

    <div *ngIf="message">
        <h3>{{message}}</h3>
    </div>

    <div>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <tr>
                <td style="font-weight: bold;">Username</td>
                <td><input id="username" name="username" #usernameTxt="ngModel" type="text" [(ngModel)]="username" required="true" maxlength="32" /></td>
            </tr>
        
            <tr>
                <td style="font-weight: bold;">Password</td>
                <td><input id="password" name="password" #passwordTxt="ngModel" type="password" [(ngModel)]="password" required="true" maxlength="32" /></td>
            </tr>

            &nbsp;
        
            <tr>
                <td colspan="3">
                    <input type="reset" value="Clear" />
                    <input type="submit" value="Log In" />
                </td>
            </tr>
        
        </form>

        <br/>

        <div>
            <a routerLink="/register">Don't have an account? Create one now!</a>
        </div>
        

    </div>
</section>


