* {
	font-family: Arial, Helvetica, sans-serif;
}

a:hover {
	text-decoration-line: underline;
	cursor: pointer;
}

.default-button {
    background-color: black;
    color: white;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.sidemenu {
	display: block;
	width: 15%;
	margin: 0.5% 0% 0.5% 0%;
	padding: 3px 3px 3px 3px;
	float: left;
	background-color: lightgrey;
}

.footer {
	display: block;
	margin: 0.5% 0% 0% 0%;
	clear: both;
	background-color: lightgrey;
}

.header {
	display: block;
	padding: 3px 3px 3px 3px;
	clear: both;
	background-color: lightgrey;
}

.content {
	display: block;
	width: 83%;
	padding: 10px 10px 10px 10px;
	float: left;
}

.menuHeader2 {
	margin-top: 5px;
	padding: 3px 3px 3px 3px;	
	background-color: silver;
}

.menuHeader1 {
	padding: 3px 3px 3px 3px;
	color: white;
	background-color: grey;
}

.buttonbox {
	display: block;
	text-align: right;
	padding: 3px 3px 3px 3px;
}
