<section id="content" class="content">
<h2>Frequently Asked Questions</h2>
    <div>
        
        &nbsp;

        <!-- <img src="assets/plandrLogo.png" height="200"> -->

        <div>
            <h3>1. What is Plandr?</h3>
            <p>Plandr is the platform to tinker your 1-day recreational plan with unparalleled price and various promotions!</p> 
            <p>We work hard to get you the best deals so that you can enjoy the best experiences at our lowest prices!</p>
        </div>

        &nbsp;

        <div>
            <h3>2. What are the privileges of being a subscribed member?</h3>
            <p>Subscribers will receive monthly promotions for attractions on our site.</p>
            <p>Subscribers will also have their booking fee waivered for all bookings during that period!</p>
        </div>

        &nbsp;

        <div>
            <h3>3. I can't make it for a booking I've made. What should I do?</h3>
            <p>Simply cancel your booking, and you'll receive a refund back within 48 hours.</p>
        </div>

        &nbsp;

        <div>
            <h3>Contact Us</h3>
            <p>For more questions and queries you can email us at plandr_help@gmail.com :)</p>
        </div>
    </div>
</section>


