<section id="content" class="content">
<h2>Frequently Asked Questions</h2>
    <div>
        
        &nbsp;

        <div>
            <h2>1. What is Plandr?</h2>
            <p>Plandr is the platform to tinker your 1-day recreational plan with unparalleled price and various promotions!</p>
        </div>

        &nbsp;

        <div>
            <h2>2. What are the privileges of being a subscribed member?</h2>
            <p>Subscribers will receive monthly promotions for attractions on our site.</p>
            <p>Subscribers will also receive direct reduction to their booking fees.</p>
        </div>

        &nbsp;

    </div>
</section>


