<section id="content" class="content">

    <h2>Subscribe</h2>

    <div *ngIf="message">
        <h3>{{message}}</h3>
    </div>

    <div *ngIf="sessionService.getSubscribed()">
        <h3>You are subscribed until: {{parseDate(sessionService.getSubscribedUntil()) | date:'EEE, MMM dd, yyyy'}}</h3>
    </div>
    
    <div *ngIf="!sessionService.getSubscribed()">
        <h3>You are currently not subscribed</h3>
    </div>

    <form #subscriptionForm="ngForm" (ngSubmit)="subscribe(subscriptionForm)">
        <table>
            
            <tr>
                <select id="subPackage" name="subPackage" #subPackageTxt="ngModel" [(ngModel)]="subPackage" required="true">
                    <option value="1">1 Month Plan @ $4.99</option>
                    <option value="2">3 Months Plan @ $9.99</option>
                    <option value="3">6 Months Plan @ $14.99</option>
                </select>
            </tr>	   
        </table>  
        <br/>
        <button mat-button type="submit" label="Subscribe">Subscribe</button> 
    </form> 

</section>
