<section id="content" class="content">

	<div>
			<h2>Change Password</h2>

			<form #changePasswordForm="ngForm" (ngSubmit)="update(changePasswordForm)">

					<table width="100%">

							<tr>
								<td width="10%" style="font-weight: bold;">Old Password</td>
								<td><input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="memberToUpdate.name" required="true" /></td>
								<td>
									<div *ngIf="name.invalid && (name.dirty || name.touched || submitted)" class="errorText">
										<div *ngIf="name.errors.required">
											Name is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<td width="10%" style="font-weight: bold;">New Password</td>
								<td><input id="email" name="email" #email="ngModel" type="text" [(ngModel)]="memberToUpdate.email" required="true" /></td>
								<td>
									<div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="errorText">
										<div *ngIf="email.errors.required">
											Email is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<td width="10%" style="font-weight: bold;">Retype Password</td>
								<td><input id="contactNumber" name="contactNumber" #contactNumber="ngModel" type="text" [(ngModel)]="memberToUpdate.contactNumber" required="true" /></td>
								<td>
									<div *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched || submitted)" class="errorText">
										<div *ngIf="contactNumber.errors.required">
											Contact Number is required.
										</div>
									</div>
								</td>
                            </tr>
                            
                            <tr>
                                <td colspan="3">
                                    <button (click)="clear()">Clear</button>
                                    <input type="submit" value="Change" />
                                </td>
                            </tr>

					</table>

			</form>

	</div>

</section>
