
<section id="content" class="content">

	<div>
			<h2>Change Password</h2>

			<div *ngIf="message">
        <h3>{{message}}</h3>
    	</div>

			<form #changePasswordForm="ngForm" (ngSubmit)="update(changePasswordForm)">

					<table>
<!-- 
							<tr>
								<td style="font-weight: bold;">Old Password</td>
								<td><input id="oldPassword" name="oldPassword" #oldPasswordTxt="ngModel" type="text" [(ngModel)]="oldPassword" required="true" maxlength="32" /></td>
								<td>
									<div *ngIf="oldPasswordTxt.invalid && (oldPasswordTxt.dirty || oldPasswordTxt.touched || submitted)" style="color: red;">
										<div *ngIf="oldPasswordTxt.errors.required">
											Field is required.
										</div>
										<div *ngIf="oldPassword != sessionService.getPassword()" style="color: red;">
											Must match old password.
										</div>
									</div>
								</td>
							</tr> -->
							
							<tr>
								<!-- removed #newPassword="ngModel" -->
								<td style="font-weight: bold;">New Password</td>
								<td><input id="newPassword" name="newPassword" #newPasswordTxt="ngModel" type="text" [(ngModel)]="newPassword" required="true" maxlength="32" />
								<td>
									<div *ngIf="newPasswordTxt.invalid && (newPasswordTxt.dirty || newPasswordTxt.touched || submitted)" style="color: red;">
										<div *ngIf="newPasswordTxt.errors.required">
											Field is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<!-- removed #rePassword="ngModel" -->
								<td style="font-weight: bold;">Retype Password</td>
								<td><input id="rePassword" name="rePassword" #rePasswordTxt="ngModel" type="text" [(ngModel)]="rePassword" required="true" maxlength="32" />
								<td>
									<div *ngIf="rePasswordTxt.invalid && (rePasswordTxt.dirty || rePasswordTxt.touched || submitted)" style="color: red;">
										<div *ngIf="rePasswordTxt.errors.required">
											Field is required.
										</div>
									</div>
								</td>
							</tr>

					</table>
					<br/>
					<button mat-button type="submit" label="Change Password">Change Password</button> 
			</form>				

	</div>

</section>