
<section id="content" class="content">

	<div>
			<h2>Change Password</h2>

			<div *ngIf="message">
        <h3>{{message}}</h3>
    	</div>

			<form #changePasswordForm="ngForm" (ngSubmit)="update(changePasswordForm)">

					<table width="100%">

							<tr>
								<!-- removed #oldPassword="ngModel" -->
								<td width="10%" style="font-weight: bold;">Old Password</td>
								<td><input id="oldPassword" name="oldPassword" #oldPasswordTxt="ngModel" type="text" [(ngModel)]="oldPassword" required="true" maxlength="32" /></td>
								<td>
									<div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || submitted)" class="errorText">
										<div *ngIf="oldPassword.errors.required">
											Field is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<!-- removed #newPassword="ngModel" -->
								<td width="10%" style="font-weight: bold;">New Password</td>
								<td><input id="newPassword" name="newPassword" #newPasswordTxt="ngModel" type="text" [(ngModel)]="newPassword" required="true" maxlength="32" />
								<td>
									<div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || submitted)" class="errorText">
										<div *ngIf="newPassword.errors.required">
											Field is required.
										</div>
									</div>
								</td>
							</tr>
							
							<tr>
								<!-- removed #rePassword="ngModel" -->
								<td width="10%" style="font-weight: bold;">Retype Password</td>
								<td><input id="rePassword" name="rePassword" #rePasswordTxt="ngModel" type="text" [(ngModel)]="rePassword" required="true" maxlength="32" />
								<td>
									<div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched || submitted)" class="errorText">
										<div *ngIf="rePassword.errors.required">
											Field is required.
										</div>
										<div *ngIf="rePassword != oldPassword">
											Must match above field.
										</div>
									</div>
								</td>
							</tr>
							
							<br>
                            
              <tr>
								<td colspan="3">					
									<input type="submit" value="Change Password" />
								</td>
							</tr>

					</table>

			</form>

	</div>

</section>