<header class="header">
    <h1>Plandr - Your Hangout Recommendation Partner</h1>
    <aside id="buttonbox" class="buttonbox">

    <div *ngIf="sessionService.getIsLogin() == false">
        <button mat-button type="button" label="Home" (click)="redirectToMain()">Home</button> 
        &nbsp; 
        <button mat-button type="button" label="Register" (click)="redirectToRegister()">Register</button> 
        &nbsp;
        <button mat-button type="button" label="Log In" (click)="redirectToLogin()">Log In</button> 
    </div>
    
    &nbsp;
    
    <div *ngIf="sessionService.getIsLogin() == true">
        You are login as {{sessionService.getCurrentMember().username}}
        &nbsp;
        <button mat-button type="button" label="Log Out" (click)="memberLogout()">Log Out</button>
        <!-- <button mat-button type="button" label="Articles"(click)="redirectToArticles()">Articles</button> 
        &nbsp;
        <button mat-button type="button" label="Attractions" (click)="redirectToAttractions()">Attractions</button> 
        &nbsp;
        <button mat-button type="button" label="Make Booking" (click)="redirectToBookings()">Make Booking</button> 
        &nbsp;
        <button mat-button type="button" label="My Profile" (click)="redirectToProfile()">My Profile</button> 
        &nbsp;
        <button mat-button type="button" label="FAQ" (click)="redirectToFaq()">FAQ</button>  -->
    </div>

    &nbsp;
    </aside>
</header>

