<header class="header">

    <div>
        <h1>Welcome to Plandr!</h1>
        <div>
            &nbsp; 
            <button mat-button type="button" label="Home" (click)="redirectToMain()">Home</button> 
            &nbsp; 
            <button mat-button type="button" label="Register" (click)="redirectToRegister()">Register</button> 
            &nbsp;
            <button mat-button type="button" label="Log In" (click)="redirectToLogin()">Log In</button> 
        </div>
    </div>
    
    &nbsp;
    
    <div>
        &nbsp; 
        <button mat-button type="button" label="Articles"(click)="redirectToArticles()">Articles</button> 
        &nbsp;
        <button mat-button type="button" label="Attractions" (click)="redirectToAttractions()">Attractions</button> 
        &nbsp;
        <button mat-button type="button" label="Make Booking" (click)="redirectToBookings()">Make Booking</button> 
        &nbsp;
        <button mat-button type="button" label="My Profile" (click)="redirectToProfile()">My Profile</button> 
        &nbsp;
        <button mat-button type="button" label="FAQ" (click)="redirectToFaq()">FAQ</button> 
    </div>

    &nbsp;

</header>

