<section id="content" class="content">
    <div>
        <h2>My Profile</h2>

        <button mat-button type="button" label="Update Profile" (click)="redirectToUpdateProfile()">Update Profile</button> 

        &nbsp;

        <button mat-button type="button" label="Change Password" (click)="redirectToChangePassword()">Change Password</button> 
        
        <h3>Profile Details</h3>

        <h4>Member Id: {{memberToView.memberId}}</h4>

        <h4>Username: {{memberToView.username}}</h4>

        <h4>Name: {{sessionService.getName()}}</h4>

        <h4>Email: {{sessionService.getEmail()}}</h4>

        <h4>Contact Number: {{sessionService.getContactNumber()}}</h4>

        <h4>Gender: {{sessionService.getGender()}}
            <!-- <span *ngIf="sessionService.getGender() == 0">Male</span>
            <span *ngIf="sessionService.getGender() == 1">Female</span>
            <span *ngIf="sessionService.getGender() == 2">Other</span> -->
        </h4>

        <h4>Date of Birth: {{parseDate(sessionService.getDob()) | date:'MMM dd, yyyy'}}</h4>

        <h4>Subscribed: {{sessionService.getSubscribed()}}</h4>

        <h4 *ngIf="sessionService.getSubscribed() == true">Subscribed Until: {{parseDate(sessionService.getSubscribedUntil()) | date:'EEE, MMM dd, yyyy'}}</h4>

        <h4>Credit Card: {{sessionService.getCreditCard()}}</h4>
    </div>
    
</section>
