<div>
    <h2>My Profile</h2>

    <button mat-button type="button" label="Edit Profile">Edit Profile</button> 
    
    <h3>Profile Details</h3>

    <h4>Member Id: {{memberToView.memberId}}</h4>

    <h4>Username: {{memberToView.username}}</h4>

    <h4>Password: {{memberToView.password}}</h4>

    <h4>Name: {{memberToView.name}}</h4>

    <h4>Email: {{memberToView.email}}</h4>

    <h4>Contact Number: {{memberToView.contactNum}}</h4>

    <h4>Gender: {{memberToView.gender}}</h4>

    <h4>Date of Birth: {{memberToView.dob}}</h4>

    <h4>Subscribed: {{memberToView.subscribed}}</h4>

    <h4>Subscribed Until: {{memberToView.subscribedUntil}}</h4>

    <h4>Credit Card: {{memberToView.creditCard}}</h4>
</div>
