<div>
    <h2>My Profile</h2>

    <button mat-button type="button" label="Edit Profile">Edit Profile</button> 
    
    <h3>Profile Details</h3>

    <h4>Member Id: {{member.memberId}}</h4>

    <h4>Name: {{member.name}}</h4>

    <h4>Email: {{member.email}}</h4>

    <h4>Contact Number: {{member.contactNum}}</h4>

    <h4>Username: {{member.username}}</h4>

    <h4>Password: {{member.password}}</h4>

    <h4>Gender: {{member.gender}}</h4>

    <h4>Date of birth: {{member.dob}}</h4>

    <h4>Subscribed: {{member.subscribed}}</h4>

    <h4>Subscribed Until: {{member.subscribedUntil}}</h4>

    <h4>Credit card: {{member.creditCard}}</h4>
</div>
